html, body {
  background-image: linear-gradient(to right, #0a0b0b, #0f1010, #121414, 
    #161718, #191a1b, #1e1f20, 
    #222324, #272829, #2e3031, 
    #363939, #3e4142, #464a4a);
  background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
  }